<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vnpt.flutter_plugin_ic_nfc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application>
        <activity android:name=".NfcTransparentActivity" android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>
